@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

.ant-form-item-explain-error {
   font-size: 13px;
}

/* main style for scrollbar | scrollbar styling - start */
.styled-scrollbar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
   border-radius: 10px;
   background-color: transparent;
}

.styled-scrollbar::-webkit-scrollbar {
   width: 8px;
   background-color: transparent;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
   border-radius: 3px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #3c3c3c;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
   background-color: #444444;
}
/* main style for scrollbar | scrollbar styling - end */

/* modal style for scrollbar | scrollbar styling - start */
.styled-modal-scrollbar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
   border-radius: 10px;
   background-color: transparent;
}

.styled-modal-scrollbar::-webkit-scrollbar {
   width: 8px;
   background-color: transparent;
}

.styled-modal-scrollbar::-webkit-scrollbar-thumb {
   border-radius: 3px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: #565656;
}

.styled-modal-scrollbar::-webkit-scrollbar-thumb:hover {
   background-color: #696969;
}
/* modal style for scrollbar | scrollbar styling - end */

[hidden] {
   display: none !important;
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
      rgb(var(--background-start-rgb));
}

body,
h1,
h2,
h3,
p,
a,
li,
div,
p,
section,
form,
button,
input,
textarea {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   line-height: 1;
}

svg {
   display: flex;
}

.regular-divider::before,
.regular-divider::after {
   border-block-start: 1px solid var(--tdc-regular-placeholder-text-cl) !important;
}

.ant-tabs {
   .ant-tabs-nav {
      margin-bottom: 0;

      &::before {
         display: none;
      }
   }

   .ant-tabs-nav-list {
      .ant-tabs-tab {
         .ant-tabs-tab-btn {
            color: var(--tdc-regular-placeholder-text-cl);
         }
         &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
               color: var(--tdc-regular-white-cl);
            }
         }

         &:hover {
            .ant-tabs-tab-btn {
               color: var(--tdc-regular-white-cl);
            }
         }
      }
   }
}
